<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scoccipe.projetphysique">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Ciel">
        <activity android:name=".MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Paradoxe"
            android:theme="@style/Ciel" />
        <activity android:name=".Paradoxe2" />
        <activity android:name=".Paradoxe3" />
        <activity android:name=".Paradoxe4" />
        <activity android:name=".Force_Centripete" />
        <activity android:name=".ParametresCentripete" />
        <activity android:name=".Informations" />
        <activity android:name=".OndesParam" />
        <activity android:name=".OndesSimu" />
        <activity android:name=".OndesInfo" />
        <activity android:name=".Avant_propos" />
        <activity android:name=".Developpement" />
        <activity android:name=".Notions" />
        <activity android:name=".Options"></activity>
    </application>

</manifest>